<!DOCTYPE html>

<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- javascript -->
    <!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="assets/js/skel.min.js"></script>
    <script src="assets/js/skel-panels.min.js"></script>
    <script src="assets/js/init.js"></script>


    <!-- Imports the fonts-->
    <link rel="stylesheet" href="assets/css/telegrafregular.css">
    <link rel="stylesheet" href="assets/css/telegrafultrabold.css">
    <link rel="stylesheet" href="assets/css/telegrafultralight.css">
    <link href='http://fonts.googleapis.com/css?family=Arimo:400,700' rel='stylesheet' type='text/css'>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">


    <!-- Imports CSS from styles.html -->
    <style>
        {% include 'styles.html' %}
    </style>

    <title>GoodTunes</title>

</head>

<body>

<!-- Import the Navbar from nav.html -->
<!--
<div style="margin-left:auto; margin-right:auto; width:50vw;">
    <a href="/" class="yellowBtn"><strong>Go back</strong></a>
</div> -->

<nav class="navbar navbar-light navbar-expand-md" id="navbartop" style="background-color:white;">
    <div class="container-fluid"><a class="navbar-brand" href="/"><img class="logo" src="/static/assets/music.png"><strong>Go back to GoodTunes</strong></a>
    </div>
</nav>


<!-- Content block within the body -->

<div style="background-color:#ffcccc; border-radius:50px; width:80vw; margin-left:auto; margin-right:auto; margin-top:50px; padding:50px; text-align:center;">
    <h1>Congrats! You've found our easter egg!!</h1>
    <p>Special Surprise!!: <a href="https://youtu.be/dQw4w9WgXcQ">Click Here</a></p>
    <p>AP Notes: <a href="https://docs.google.com/document/d/1FSWcO9d_1fmNwnc9jbnq51IeUdJJrUgNZTCvFoQLUNY/edit?usp=sharing">Click Here</a></p>
    <p>Project Plan: <a href="https://docs.google.com/document/d/1nMVYl-QKMlfG6Yd02XVyWfKRdIkvWZrSLenuBf5FnHo/edit?usp=sharing
">Click Here</a></p>
</div>
<div style="background-color:#ffcccc; border-radius:50px; width:80vw; margin-left:auto; margin-right:auto; margin-top:50px; padding:50px; text-align:center;">
    <h1>Computer Science Affirmations!</h1>
    <p><strong> As a group: We are all competent in Python programming and continuously working to develop our skills. We each have experience in building Python/Flask web servers, and in developing frontends with HTML, CSS, and Bootstrap.
    </strong></p>
    <p><strong> Ida:</strong> I have experience in HTML forms, building Jinja templates, and using both in order to exchange data between frontend and backend.</p>
    <p><strong> Risa:</strong> I have experience with creating my own domain for our website using the Internet Service Provider DNS.  In addition, I have the ability to serve flask applications using Gunicorn and Nginx. I understand the concepts of Jinja templates and creating databases to exchange information and data from front end to backend. I am currently working on and learning how to use the data in search engines.</p>
    <p><strong> Nivu:</strong> I can develop web front ends with my knowledge of HTML forms, Jinja templates/variables and Flask framework. I am now focusing on becoming competent in concepts like Data Analysis.</p>
    <p><strong> Sarah:</strong> I can develop a flask server and query a database through the python file. I know how to use HTML, CSS, and Javascript to create a good UI and working backend. I can understand linux and virtual machines. I’m also able to create and collaborate on a project with teammates. </p>
</div>
<div class="googledoc-embed" style="border:1px solid rgba(0,0,0,0.1);border-radius:2px;box-sizing:border-box;overflow:hidden;position:relative;width:100%;background:#F4F4F4"><p style="padding:0;margin:0"><iframe src="https://docs.google.com/document/d/1FSWcO9d_1fmNwnc9jbnq51IeUdJJrUgNZTCvFoQLUNY/edit?usp=sharing" frameborder="0" allow="camera;microphone;geolocation" style="width:80%;height:100vh;display:block;padding:10px;margin:10px"></iframe></p><div style="padding:8px;text-align:right;margin:0;"><a href="https://docs.google.com/document/d/1LHVV9tkq1ZkMl9PL1fb1XakB3tWm9ZTHp14jibV9-nA/edit?usp=sharing" style="padding:0;margin:0;border:none;display:block;line-height:1;height:16px" target="_blank"></a></div></div>
</body>

<!-- The javascript block for custom Javascript -->
<script>
</script>

<!-- BootStrap Javascript -->
<script src="https://code.jquery.com/jquery-3.2.1.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


</html>

