{% extends 'base.html' %}
{% block content %}
<head>
    <title>GoodTunes | Home</title>
</head>
<body>

<div class="heroHead">
    <div style="display:grid; padding: 130px; grid-template-columns: 2fr 1fr;">
        <div style="float:right;">
            <h1 class="tunesTitle"><strong>Goodtunes</strong></h1>
            <p class="tunesSub">Create playlists and share with friends.</p>
            <a class="yellowBtn"><strong>sign up now</strong></a>
        </div>
        <div>
            <img style="float:left; margin-top:-20px" src="/static/assets/heroNote.png">
        </div>

    </div>
</div>


</body>
{% endblock %}
