{% extends 'base.html' %}
{% block content %}

<section id="createSection">
    <div style="display: block; margin-top: 101px;">
        <h1 id="searchHeading">Create a Playlist</h1>
    </div>

</section>

<form name="playlist" action="/create" method="POST" style="padding:50px">
    <form>
        <label for="playlistname">Playlist name: </label>
        <input type="text" id="playlistname" name="playlistname">
    </form>
    <label for="song1">Pick a song:</label>
    <select id="song1" name="songs">
        {% for song in songsdb %}
        <option value="song">{{song}}</option>
        {% endfor %}
    </select>
    <label for="song2">Pick a song:</label>
    <select id="song2" name="songs">
        {% for song in songsdb %}
        <option value="song">{{song}}</option>
        {% endfor %}
    </select>
    <br/>
    <label for="song3">Pick a song:</label>
    <select id="song3" name="songs">
        {% for song in songsdb %}
        <option value="song">{{song}}</option>
        {% endfor %}
    </select>
    <br/>
    <button type="submit" >Sign Up</button>
</form>


{% endblock %}