{% extends 'base.html' %}
{% block content %}

<section id="createSection">
    <div style="display: block; margin-top: 101px;">
        <h1 id="searchHeading">Create a Playlist</h1>
    </div>

</section>

<form name="playlist" method="post" style="padding:50px">
    <label for="song1">Pick a song:</label>
    <select id="song1" name="songs">
        {% for song in songsdb %}
        <option value="song">{{song}}</option>
        {% endfor %}
    </select>
    <br/>
    <label for="song2">Pick a song:</label>
    <select id="song2" name="songs">
        {% for song in songsdb %}
        <option value="song">{{song}}</option>
        {% endfor %}
    </select>
    <br/>
    <label for="song3">Pick a song:</label>
    <select id="song3" name="songs">
        {% for song in songsdb %}
        <option value="song">{{song}}</option>
        {% endfor %}
    </select>
    <br/>
    <input type="submit" name="submit"/>
</form>

{% endblock %}