{% extends 'base.html' %}
{% block content %}
<head>
    <title>GoodTunes | Profile</title>
</head>

<div class="heroHead2">
    <div class="clearblock">
        <h2 style="text-align: center; margin-left:auto; margin-right:auto;">My Profile</h2>
        </form>
    </div>


    <div class="clearblock">
        <h3 style="text-align: low; margin-left:auto; margin-right:auto;">My Favorite Songs</h3>
        </form>
    </div>

    <div style="display:grid; padding: 130px; grid-template-columns: 2fr 1fr;">
        <div style="float:right;">
        </div>
        <div>
            <img style="float:left; margin-top:-20px" src="background.png">
        </div>

    </div>
</div>




{% endblock %}