{% extends 'base.html' %}
{% block content %}

<section id="searchSection">
    <div style="display: block; margin-top: 101px;">
        <h1 id="searchHeading">Search Playlists and Users</h1>
    </div>

    <div id="searchDiv">
        <div style="margin-bottom: 15px;position: relative;">
            <img src="/static/assets/search.svg" style="position: absolute;top: 23px;left: 19px;"/>
            <form action="/search" method="POST" id="formInput">
                <input type="text" class="form" name="search" id="myInput"  placeholder="Search"/>
            </form>
            <!-- {% for song in songsdb %}
                {% if myInput in song %}
                    <li> {{myInput}} </li>
                {% endif %}
            {% endfor %} -->

        </div>

    </div>
</section>

{% if song == None %}
<style>
    .searchResult{
    display: None;
    }
</style>
{% endif %}

<div class="searchResult">
    <!-- Search Results -->
    <p><strong>{{song[1]}}: </strong> {{song[0]}} song by {{song[2]}}</p>
</div>

{% endblock %}