h2 {
    font-size: 3.5rem;
}
.logo {
    width: 50px;
    height: auto;
}

.search {
    width: 30px;
}

.heroHead {
    height: 90vh;
    display:flex;
    background-color: black;
    justify-content:center;
    flex-direction: column;
    background-image: url({{ url_for('static', filename='assets/wave.png') }});
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
    background-size: 100%
}

.tunesTitle {
    font-size: 57px;
    color:white;
    padding-bottom: 20px;
}

.tunesSub {
    color: #E61F93;
    font-size: 23px;
    padding-bottom: 20px;
}

.yellowBtn{
    background-color: #FFD646;
    color:white;
    min-width: 100px;
    font-size: 19.2px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius:100px;
    text-transform: uppercase;
}

.clearblock {
    width: 37vw;
    background-color: #FFECCE;
    justify-content: center;
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
    display:flex;
    justify-content: center;
    border-radius: 30px;
    box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.2);
    text-transform: uppercase;

}

.sButton {
    text-align:center;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 100px;
    background-color: black;
    color: white;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
}

.searchResult{
    margin:auto;
    margin:100px;
    grid-template-columns: 1fr 1fr;
    padding:70px;
    text-align:center;
    font-size: 26px;
    box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    text-transform: uppercase;


}


#button {
    background-color: #FFECCE;
    color: black;
    border-radius: 100px;
    padding-left: 20px;
    padding-right: 20px;
}

#navcol-1 {
    display: flex;
    justify-content: flex-end;
    background-color: white;
}

#navbartop {
    /*font-family: 'telegrafultralight'; */
    padding-top: 20px;
}

#searchSection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: auto;
    align-items: center;
    background-color:black;"
}

#searchHeading {
    color:white;
    font-size: 60px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
}

#searchDiv {
    width: 100%;
    max-width: 1020px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    bottom: -36px;
}

#myInput {
    padding-left: 75px;
    padding-top: 13px;
    padding-right: 12px;
    padding-bottom: 8px;
    width: 100%;height: 70px;
    margin-left: -5px;
    border: 1px solid transparent;
    border-radius: 100px;
    font-family: 'Open Sans';
    color: #333;
    line-height: 20px;
    font-size: 18px;
    box-shadow: 0px 14px 45px -5px rgba(45, 62, 80, 0.12), 0px 0px 5px 0px rgba(45, 62, 0, 0.06), 0px 0px 0px 2px #f5f8fa;
}

/* start of login/signup page css */


form {
max-width: 300px;
margin: 10px auto;
padding: 10px 20px;
background: #f4f7f8;
border-radius: 8px;
}


input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
background: rgba(255, 255, 255, 0.1);
border: none;
font-size: 16px;
height: auto;
margin: 0;
outline: 0;
padding: 15px;
width: 100%;
background-color: #e8eeef;
color: #8a97a0;
box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
margin-bottom: 30px;
}

input[type="radio"],
input[type="checkbox"] {
margin: 0 4px 8px 0;
}

select {
padding: 6px;
height: 32px;
border-radius: 2px;
}

button {
padding: 19px 39px 18px 39px;
color: #FFF;
background-color: #E61F93;
font-size: 18px;
text-align: center;
font-style: normal;
border-radius: 5px;
width: 100%;
border: 1px solid #E61F93;
border-width: 1px 1px 3px;
box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
margin-bottom: 10px;
}

fieldset {
margin-bottom: 30px;
border: none;
}

legend {
font-size: 1.4em;
margin-bottom: 10px;
}

label {
display: block;
margin-bottom: 8px;
}

label.light {
font-weight: 300;
display: inline;
}

#password{
margin-bottom: 5px;
}
p.show{
margin: 0 auto 1.8em;
font-style: italic;
cursor: pointer;

}

.number {
background-color: #E61F93;
color: #fff;
height: 30px;
width: 30px;
display: inline-block;
font-size: 0.8em;
margin-right: 4px;
line-height: 30px;
text-align: center;
text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
border-radius: 100%;
}

@media screen and (min-width: 480px) {
form {
max-width: 480px;
}
}