.logo {
    width: 50px;
    height: auto;
}

.search {
    width: 30px;
}

.heroHead {
    height: 90vh;
    display:flex;
    background-color: black;
    justify-content:center;
    flex-direction: column;
    background-image: url({{ url_for('static', filename='assets/wave.png') }});
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
    background-size: 100%
}

.tunesTitle {
    font-size: 57px;
    color:white;
    padding-bottom: 20px;
}

.tunesSub {
    color: #E61F93;
    font-size: 23px;
    padding-bottom: 20px;
}

.yellowBtn{
    background-color: #FFD646;
    color:white;
    min-width: 100px;
    font-size: 19.2px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius:100px;
    text-transform: uppercase;
}

.clearblock {
    width: 40vw;
    background-color: #FFECCE;
    justify-content: center;
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
    display:flex;
    justify-content: center;
    border-radius: 30px;
    box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.2);
    text-transform: uppercase;

}

.sButton {
    text-align:center;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 100px;
    background-color: black;
    color: white;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
}

#button {
    background-color: #FFECCE;
    color: black;
    border-radius: 100px;
    padding-left: 20px;
    padding-right: 20px;
}

#navcol-1 {
    display: flex;
    justify-content: flex-end;
    background-color: white;
}

#navbartop {
    /*font-family: 'telegrafultralight'; */
    padding-top: 20px;
}


