@font-face {
	font-family: 'telegrafregular';
	src: url(../../assets/fonts/telegraf_regular_400-webfont.woff2) format('woff2'),
	url(../../assets/fonts/telegraf_regular_400-webfont.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}